[submodule ".emacs.d/plugins/django-mode"]
	path = .emacs.d/plugins/django-mode
	url = https://github.com/myfreeweb/django-mode
[submodule ".emacs.d/plugins/yasnippet"]
	path = .emacs.d/plugins/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule ".emacs.d/vendor/jade-mode"]
	path = .emacs.d/vendor/jade-mode
	url = https://github.com/brianc/jade-mode
[submodule ".emacs.d/plugins/scss-mode"]
	path = .emacs.d/plugins/scss-mode
	url = https://github.com/antonj/scss-mode
[submodule ".emacs.d/plugins/tuareg"]
	path = .emacs.d/plugins/tuareg
	url = https://github.com/ocaml/tuareg
[submodule ".emacs.d/plugins/yaml-mode"]
	path = .emacs.d/plugins/yaml-mode
	url = https://github.com/yoshiki/yaml-mode
[submodule ".emacs.d/plugins/markdown-mode"]
	path = .emacs.d/plugins/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule ".emacs.d/plugins/go-mode"]
	path = .emacs.d/plugins/go-mode
	url = https://github.com/dominikh/go-mode.el
