[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/stoye/Desktop/steam.desktop]
row=8
col=0

[6E544D7B544D46D5]
row=3
col=0

[1e022772-965b-4401-b3e0-b3f3f1bb91db]
row=1
col=0

[Audio Disc]
row=4
col=0

[71ca7595-5555-45ee-a4da-c9e8935163a4]
row=2
col=0

[FC8CB3D48CB38822]
row=0
col=0

[Trash]
row=5
col=0

[/]
row=6
col=0

[/home/stoye]
row=7
col=0

